<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="js/script.js"></script>
    <link rel="icon" href="http://pngimg.com/uploads/poop/poop_PNG25.png" >
</head>
<body>
    <div class="main-cont">
        {{>header}}
        <p>{{message}}</p>
    </div>
    {{>footer}}
</body>
</html>