<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="http://pngimg.com/uploads/poop/poop_PNG25.png" >
</head>
<body>
    <div class="main-cont">
        {{>header}}
        <img class="portr" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fc/fc04ecd995a6dc2245243206f4f8f461522a2ec9_full.jpg" alt="">
    </div>
    {{>footer}}
</body>
</html>